<input type="hidden" name="_scenario" value="password_change">

<div class="form-group">
    <label for="password">{{ 'model.user.password'|trans }}</label>
    <input type="password" name="password" value="" id="password"
           class="form-control">
    {% if data.model.errors.password is defined %} {% for value  in data.model.errors.password %}
        {{ value }} <br>
    {% endfor %} {% endif %}
</div>

<div class="form-group">
    <label for="password_confirmation">{{ 'model.user.password_confirmation'|trans }}</label>
    <input type="password" name="password_confirmation" value="" id="password_confirmation" class="form-control">
    {% if data.model.errors.password_confirmation is defined %} {% for value  in data.model.errors.password_confirmation %}
        {{ value }} <br>
    {% endfor %} {% endif %}
</div>